<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--<add key="aspnet-contrib" value="https://www.myget.org/F/aspnet-contrib/api/v3/index.json" />-->
    <!--<add key="dotnetdev" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json"/>-->
    <!--<add key="aspnetcidev" value="https://dotnet.myget.org/F/aspnetcore-ci-dev/api/v3/index.json"/>-->
    <add key="orleans-prerelease" value="https://dotnet.myget.org/F/orleans-prerelease" />
    <!--<add key="orleans-prerelease" value="..\orleans\vNext\Binaries\Debug" />-->
  </packageSources>
</configuration>