<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- <add key="orleans-prerelease" value="https://dotnet.myget.org/F/orleans-prerelease" /> -->
    <!-- <add key="orleans-prerelease" value="..\orleans\Artifacts\Current\Debug" /> -->
    <!--<add key="aspnetcore-dev" value="https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json" />-->
  </packageSources>
</configuration>